
<div class="header">
  <h1>Sketch nano</h1>

    <p>
    Sketch Nanoは、最高のお絵かきアプリです。
    </p>
    <br>
    <br>
</div>

<div class= "main_contents">
  <p>
  sketch nanoでできる3つのこと。
  </p>

  <ul>
    <li>絵が描ける</li>
    <li>みんなの投稿をみられる</li>
    <li>"すき"をつけられる</li>
  <ul>
</div>
