

body {
    background: #000;
}

h1, h2, li {
    color: #000;
    margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

#myTabContent {
  text-align: center;
}

.main_contents {
    font-size: 32px;
}

canvas {
    background-color: #fff;
}

.draw_menu {
  float: left;
}
.like_num {
  font-size: 36px;
  display: block;
}

.like_num .like{
  float: left;
}
