/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/*	Stuf
	------	*/

body {
	background: #e9eaeb;
	font: 12px/16px Helvetica, Arial, sans-serif;
}

h4 {
	clear: both;
	width: 100%;
}

#freetile-demo {
	margin: 50px auto;
	max-width: 962px;
}

.test {
	background: #eceeef;
	border: 1px solid #ccc;
	margin: 30px 0;
}

.third.test {
	float: left;
	clear: right;
	width: 80px;
}

.fourth.test {
	clear: both;
	width: 100%;
}

.empty.test {
	padding: 0 0 14px 0;
	background: #efeff1;
}

.test.loading {
	height: 32px;
	background: #efeff1 url(loader-alt.gif) center no-repeat;
}

.element {
	background: #585a5a;
	border-right: 1px solid #e9eaeb;
	border-bottom: 1px solid #e9eaeb;
}

body {
    background: #000;
}

h1, h2, li {
    color: #000;
    margin: 0;
}

ul {
  padding: 0;
}

a {
  margin: 0 auto;
}

li {
  list-style: none;
  padding: 10px;
}

#myTabContent {
  text-align: center;
}

.main_contents {
    font-size: 32px;
}

canvas {
    background-color: #fff;
}

.draw_menu {
  float: left;
}
.like_num {
  font-size: 36px;
  display: block;
}

.like_num .like{
  /*float: right;*/
}



#myTabContent {
  margin: 5%;
	width: 80%;
	margin: 0 auto;
}

#contents_main_box{
	margin: 0;
}

div .contents_main_box {
	width: 90%;
}

div .post{
  width: 16.666%;
  /*float: left;
  margin: 0 auto;*/
}

img {
  width: 100%;
}
